@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";


@font-face {
    font-family: 'GuRu-Font';
    src: url('./assets/fonts/GuRu-Font/GuRu-hand1-2008.ttf') format('tff');
    font-weight: normal;
    font-style: normal;
  }